---
const { project, index } = Astro.props;
import { Image } from 'astro:assets';
import Github from '../../../assets/icons/skills/Github.astro';
---

<article
  class={`grid md:grid-cols-2 gap-10 items-center
  ${index % 2 !== 0 ? 'md:[&>.image-container]:order-2' : ''}`}
>
  <div class='relative group image-container'>
    <div class='overflow-hidden rounded-2xl'>
      <Image
        src={project.image}
        alt={`${project.name} project preview`}
        class='rounded-2xl w-full shadow-lg group-hover:scale-105 transition duration-700'
      />
    </div>

    <div
      class='absolute inset-0 bg-black/60 opacity-0 group-hover:opacity-100
      transition duration-300 flex items-center justify-center rounded-2xl'
    >
      <a
        href={project.demo}
        target='_blank'
        rel='noopener noreferrer'
        class='px-6 py-3 bg-white text-black font-semibold rounded-lg opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition duration-300 dark:bg-primary-bgDark dark:text-primary-textDark'
      >
        Live Demo
      </a>
    </div>
  </div>

  <div class='flex flex-col gap-5'>
    <span class='text-zinc-700 font-extrabold text-4xl dark:text-zinc-800'>
      {project.id}
    </span>

    <div class='flex items-center gap-4'>
      <h3
        class='text-white text-3xl font-bold text-pretty dark:text-primary-bgDark'
      >
        {project.name}
      </h3>
    </div>

    <p class='text-zinc-500 text-pretty dark:text-zinc-600'>
      {project.description}
    </p>
    <a
      href={project.github}
      target='_blank'
      rel='noopener noreferrer'
      class='text-zinc-400 hover:text-white transition'
      aria-label='View GitHub repository'
    >
      <Github
        class='w-6 h-6 dark:text-primary-bgDark dark:hover:text-primary-bgDark/80 hover:scale-110 transition duration-300'
      />
    </a>
  </div>
</article>
